.navbar-second{max-height:80px}
.navbar-header>img{max-height:70px;margin-left:30px}
.user-info{margin-right:30px;margin-left:30px}
.user-info>span{padding-top:20px;font-size:2.1em}
.user-info .info{padding-top:15px;float:right;padding-left:10px;line-height:10px}
.navbar-default{border-color:#cc0052 !important}
.navbar-default
.container-fluid{min-height:74px}
.navbar-default 
.btn-default:hover{background-color:#f99}
.navbar-nav{font-size:15px;font-family:'Oswald',sans-serif;padding-top:15px}
.navbar-nav li>a:hover{border-top:4px solid #cc0052}html{min-width:1100px !important}
.navbar-collapse.collapse{display:block !important}
.navbar-nav>li,.navbar-nav{float:left !important}
.navbar-nav
.navbar-right:last-child{margin-right:-15px !important}
.navbar-right{float:right !important}
.ui-state-active{background:#fee7e7 !important}.ui-datatable-odd{background:#fee7e7 -moz-linear-gradient(center top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) repeat scroll 0% 0%; box-shadow 0px 0px 8px #f3bfbf}