.input-column{
	width:100% !important;
	height:100%; 
}
.colored{
	color:red  !important;
}
.edited{
	color:orange  !important;
}

.table column{
	width:auto  !important;
}

.table column facet inputText{
	width:100%  !important;
}
.table column facet inputMask{
	width:100%  !important;
}

.table column cellEditor facet inputMask{
	width:100%  !important;
}

.table column selectOneMenu{
	width:100%  !important;
}

.ui-selectonemenu {
	width:100%  !important;
}

.ui-column{
	width:100%  !important;
}

.ui-inputtext{
	width:100%  !important;
}
.ui-inputmask {
	width:100%  !important;
}
.exitButton{
	float: right;
	padding-left: 15%;
}
.exitButton:hover{
	background:red;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-top: 3px;
	margin-left: 15%;
}

.toogler{
	float: left;
	margin-right: 15%;
}

.headerLabel{
	font-size:x-large;
	color: black;
}

.buttonImg{
	padding-left: 20px;
	padding-right: 20px;
}

