<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:outputStylesheet name="css/table.css"/>
<h:head>
	<title><h:outputText value="#{cz.adjustments}" /> | <h:outputText value="#{cz.kits}" /></title>
</h:head>
<h:body>
	<ui:include src="/pages/menu/menu.xhtml" />
	
	<h:form id="kitEdit" rendered="#{loginBean.securityCheck('3') eq true}">
		<p:dataTable 	id="table"
						var="item"
						value="#{kitBean.view.edited}"
						editMode="cell"
						rowKey="item.id"
						editable="#{kitBean.editable}" 
						styleClass="table">
						
			<f:facet name="header">
				<p:commandButton id="toggler" type="button" value="#{cz.showColumns}" icon="ui-icon-calculator" styleClass="toogler"/>
				<p:columnToggler datasource="table" trigger="toggler" />
           		<h:outputText value="#{cz.adjustments}" style="font-size:x-large"/>
				<p:commandLink styleClass="exitButton" action="#{kitBean.cancel}">
					<p:graphicImage name="images/cancel.png" width="20"/>
					<p:confirm header="Potvrďte" message="Opravdu chcete zrušit úpravy?" icon="ui-icon-alert" />
				</p:commandLink>
				<ui:include src="/resources/dialogs/cancel.xhtml" />
       		</f:facet>
       		
			<p:column headerText="#{cz.type}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.type}" styleClass="#{item.type eq item.backUp.type ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.type}" >
							<f:validateLength maximum="40" /> 
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.intId}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.internalId}" styleClass="#{item.internalId eq item.backUp.internalId ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.internalId}" >
							<f:validateLength maximum="40" /> 
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.batch}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.batch}" styleClass="#{item.batch eq item.backUp.batch ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.batch}"  >
							<f:validateLength maximum="40" /> 
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.expiration}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">	
						<h:outputText value="#{item.expiration}" styleClass="#{item.expiration eq item.backUp.expiration ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.expiration}" mask="#{cz.dateMask}"/>
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.arriveToLab}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.arriveToLab}" styleClass="#{item.arriveToLab eq item.backUp.arriveToLab ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.arriveToLab}" mask="#{cz.dateMask}" />
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.validation}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.validation}" styleClass="#{item.validation eq item.backUp.validation ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.validation}" mask="#{cz.dateMask}"/>
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.opened}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.opened}" styleClass="#{item.opened eq item.backUp.opened ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.opened}" mask="#{cz.dateMask}" />	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.consumed}" rendered="#{kitBean.showConsumed}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.consumed}" styleClass="#{item.consumed eq item.backUp.consumed ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.consumed}" mask="#{cz.dateMask}" />	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.discardReason}" rendered="#{kitBean.showConsumed}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.discardReason}" styleClass="#{item.discardReason eq item.backUp.discardReason ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:selectOneMenu  value="#{item.discardReason}">
            				<f:selectItems value="#{kitBean.discardOptions}" />
        				</p:selectOneMenu>
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.revalidation}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.revalidation}" styleClass="#{item.revalidation eq item.backUp.revalidation ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.revalidation}" mask="#{cz.dateMask}" />				
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.newExpiration}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.newExpiration}" styleClass="#{item.newExpiration eq item.backUp.newExpiration ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.newExpiration}" mask="#{cz.dateMask}" />				
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.manual}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.manual}" styleClass="#{item.manual eq item.backUp.manual ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.manual}"  >
							<f:validateLength maximum="40" /> 
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.note}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.note}" styleClass="#{item.note eq item.backUp.note ? '' : 'edited'}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.note}"  >
							<f:validateLength maximum="40" /> 
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>			
		
			<f:facet name="footer">
				<p:commandLink action="#{kitBean.editPrev}" styleClass="buttonImg" rendered="#{kitBean.editable eq 'false'}">
					<p:graphicImage name="images/prev.png" width="30"/>
				</p:commandLink>
				<p:commandLink action="#{kitBean.editNext}" styleClass="buttonImg" rendered="#{kitBean.editable eq 'true'}">
					<p:graphicImage name="images/next.png" width="30"/>
				</p:commandLink>
				<p:commandLink action="#{kitBean.update}" styleClass="buttonImg" rendered="#{kitBean.editable eq 'false'}">
					<p:graphicImage name="images/save.png" width="30"/>
				</p:commandLink>
			</f:facet>

		</p:dataTable>

	</h:form>
	<h:form id="securityAlert" rendered="#{loginBean.securityCheck('3') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
</h:body>
</html>