<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
<h:outputStylesheet name="css/table.css"/>	
<f:event listener="#{kitBean.init}" type="preRenderView" />

<h:head>
	<title><h:outputText value="#{cz.kits}"/></title>
</h:head>

<h:body>
	<ui:include src="/pages/menu/menu.xhtml" />
	<h:form id="kit" rendered="#{loginBean.securityCheck('1') eq true}">
		<p:dataTable 	id="table"
						var="kit"
						value="#{kitBean.view.all}"
						selection="#{kitBean.view.selected}"
						rowKey="#{kit.id}"
						emptyMessage="#{cz.emptyMessage}"
						filteredValue="#{kitBean.view.filtered}"
						paginator="true"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} 	{Exporters}"
						rowsPerPageTemplate="5,10,15,20,25,30"
						rows="10"
						styleClass="table"
						paginatorPosition="bottom">


			<f:facet name="header" rendered="#{loginBean.securityCheck('3') eq true}">
				<h:outputText value="#{cz.kits}" styleClass="headerLabel" />
				<p:commandButton value="#{cz.showAll}" action="#{kitBean.showAll}" style="float: left"/>
				<p:menuButton value="#{cz.adjustments}" icon="ui-icon-pencil" style="float: right">
					<p:menuitem value="#{cz.edit}" action="#{kitBean.edit}" icon="ui-icon-pencil" />
					<p:separator />
					<p:menuitem value="#{cz.add}" action="#{kitBean.add}" icon="ui-icon-plus" />
					<p:separator />
					<p:menuitem value="#{cz.open}" action="#{kitBean.open}" icon="ui-icon-folder-open" />
					<p:separator />
					<p:menuitem value="#{cz.consume}" action="#{kitBean.consume}" icon="ui-icon-close" />
				</p:menuButton>
			</f:facet>

			<f:facet name="{Exporters}">
				<p:commandButton id="toggler" type="button" value="#{cz.showColumns}" icon="ui-icon-calculator" style="float: right"/>
				<p:columnToggler datasource="table" trigger="toggler" />
			</f:facet>
			
			<p:column selectionMode="multiple" toggleable="false" style="width:32px" />

			<p:column 	filterBy="#{kit.type}"
						sortBy="#{kit.type}"
						headerText="#{cz.type}"
						filterMatchMode="contains"
						toggleable="false">
				<h:outputText value="#{kit.type}" />
			</p:column>
			
			<p:column 	filterBy="#{kit.internalId}"
						sortBy="#{kit.internalId}"
						headerText="#{cz.intId}" 
						filterMatchMode="contains"
						visible="false">
				<h:outputText value="#{kit.internalId}" />
			</p:column>
			
			<p:column 	filterBy="#{kit.batch}"
						sortBy="#{kit.batch}"
						headerText="#{cz.batch}"
						filterMatchMode="contains"
						toggleable="false">
				<h:outputText value="#{kit.batch}" />
			</p:column>
			
			<p:column 	filterBy="#{kit.expiration}"
						sortBy="#{kit.expiration}"
						headerText="#{cz.expiration}"
						filterMatchMode="contains" 
						toggleable="false">
				<h:outputText value="#{kit.expiration}" styleClass="#{empty kit.newExpiration ? '' : 'colored'}"/>
			</p:column>
			
			<p:column 	filterBy="#{kit.arriveToLab}"
						sortBy="#{kit.arriveToLab}"
						headerText="#{cz.arriveToLab}"
						filterMatchMode="contains">
				<h:outputText value="#{kit.arriveToLab}"/>
			</p:column>
			
			<p:column 	filterBy="#{kit.validation}"
						sortBy="#{kit.validation}"
						headerText="#{cz.validation}"
						filterMatchMode="contains"
						toggleable="false">
				<h:outputText value="#{kit.validation}" styleClass="#{empty kit.revalidation ? '' : 'colored'}"/>
			</p:column>
			
			<p:column 	filterBy="#{kit.opened}"
						sortBy="#{kit.opened}"
						headerText="#{cz.opened}" 
						filterMatchMode="contains">
				<h:outputText value="#{kit.opened}"/>
			</p:column>
			
			<p:column 	filterBy="#{kit.revalidation}"
						sortBy="#{kit.revalidation}"
						headerText="#{cz.revalidation}" 
						filterMatchMode="contains"
						visible="false">
				<h:outputText value="#{kit.revalidation}"/>
			</p:column>
			
			<p:column 	filterBy="#{kit.newExpiration}"
						sortBy="#{kit.newExpiration}"
						headerText="#{cz.newExpiration}"
						filterMatchMode="contains"
						visible="false">
				<h:outputText value="#{kit.newExpiration}"/>
			</p:column>
			
			<p:column 	filterBy="#{kit.consumed}"
						sortBy="#{kit.consumed}"
						headerText="#{cz.consumed}"  
						filterMatchMode="contains"
						rendered="#{kitBean.showConsumed}">
				<h:outputText value="#{kit.consumed}" />
			</p:column>
			
			<p:column 	filterBy="#{kit.manual}"
						sortBy="#{kit.manual}"
						headerText="#{cz.manual}"
						filterMatchMode="contains"
						visible="false">
				<h:outputText value="#{kit.manual}"/>
			</p:column>
			
			<p:column 	filterBy="#{kit.note}"
						sortBy="#{kit.note}"
						headerText="#{cz.note}"
						filterMatchMode="contains"
						visible="false">
				<h:outputText value="#{kit.note}"/>
			</p:column>	
			
		</p:dataTable>
	</h:form>
	<h:form rendered="#{loginBean.securityCheck('1') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
</h:body>
</html>