<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:event listener="#{userBean.init}" type="preRenderView" />
<h:outputStylesheet name="css/table.css"/>
<h:head>
	<title><h:outputText value="#{cz.usersManagment}" /></title>
</h:head>
<h:body>
	<ui:include src="/pages/menu/menu.xhtml" />

	<h:form id="users" rendered="#{loginBean.securityCheck('5') eq true}">
		<ui:include src="/pages/users/users.xhtml"/>
		<ui:include src="/pages/users/add.xhtml"/>
		<ui:include src="/pages/users/edit.xhtml"/>
	</h:form>
	<h:form id="errorForm" rendered="#{loginBean.securityCheck('5') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
</h:body>
</html>