<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><h:outputText value="#{cz.changeSelf}"/></title>
	<h:outputStylesheet name="css/table.css"/>
</h:head>
<body>

<h:form id="userSettings">
	<ui:include src="/pages/menu/menu.xhtml" />
	<h:panelGrid columns="2" id="panel" style="margin: 0 auto">
		<h:outputText value="#{cz.userEdit}" style="font-size:large" />
		<p:commandLink immediate="true" styleClass="exitButton" action="#{loginBean.cancel}">
			<p:graphicImage name="images/cancel.png" width="20"/>
			<p:confirm header="Potvrďte" message="Opravdu chcete zrušit úpravy?" icon="ui-icon-alert" />
		</p:commandLink>
		<ui:include src="/resources/dialogs/cancel.xhtml"/>
		<h:outputText value="" id="placeHolder2"/>
		<h:outputText value="#{cz.userName}: *" />
		<p:inputText id="userName" value="#{loginBean.editUser.userName}" required="true" disabled="true">
			<f:validateLength minimum="#{val.userUserNameMin}" maximum="#{val.userUserNameMax}"/>
		</p:inputText>

		<h:outputText value="#{cz.firstName}: *" />
		<p:inputText id="firstName" value="#{loginBean.editUser.firstName}" required="true" disabled="#{loginBean.editDisabled}">
			<f:validateLength minimum="#{val.userFirstNameMin}" maximum="#{val.userFirstNameMax}"/>
		</p:inputText>

		<h:outputText value="#{cz.surName}: *" />
		<p:inputText id="surName" value="#{loginBean.editUser.lastName}" required="true" disabled="#{loginBean.editDisabled}">
			<f:validateLength minimum="#{val.userSurNameMin}" maximum="#{val.userSurNameMax}"/>
		</p:inputText>

		<h:outputText value="#{cz.mail}: *" />
		<p:inputText id="email" value="#{loginBean.editUser.email}" required="true" disabled="#{loginBean.editDisabled}">
			<f:validateLength minimum="#{val.userMailMin}" maximum="#{val.userMailMax}"/>
			<pe:keyFilter regEx="/[a-z0-9_\.\-@]/i" />
		</p:inputText>

		<h:outputText value="#{cz.phone}: " />
		<p:inputText id="phone" value="#{loginBean.editUser.telephone}" disabled="#{loginBean.editDisabled}">
			<pe:keyFilter regEx="/+?[0-9]{3}[0-9]{9}]/i" />
		</p:inputText>

		<h:outputText value="#{cz.degreesBefore}: " />
		<p:inputText value="#{loginBean.editUser.degreesBefore}" disabled="#{loginBean.editDisabled}">
			<f:validateLength maximum="#{val.userDegreesBeforeMax}"/>
		</p:inputText>

		<h:outputText value="#{cz.degreesAfter}: " />
		<p:inputText value="#{loginBean.editUser.degreesAfter}" disabled="#{loginBean.editDisabled}">
			<f:validateLength maximum="#{val.userDegreesAfterMax}"/>
		</p:inputText>

		<h:outputLabel value="#{cz.password}: *" />
		<p:password id="password1" value="#{loginBean.editPasswd}" match="password2" rendered="#{loginBean.editDisabled eq 'false'}">
			<f:validateLength minimum="#{val.userPasswdMin}" maximum="#{val.userPasswdMax}"/>
		</p:password>
		<h:outputText value="#{loginBean.editPasswd}" rendered="#{loginBean.editDisabled eq 'true'}"/>

		<h:outputLabel value="#{cz.passwordRepeat}: *" />
		<p:password id="password2" value="#{loginBean.editPasswd}" rendered="#{loginBean.editDisabled eq 'false'}">
			<f:validateLength minimum="#{val.userPasswdMin}" maximum="#{val.userPasswdMax}"/>
		</p:password>
		<h:outputText value="#{loginBean.editPasswd}" rendered="#{loginBean.editDisabled eq 'true'}"/>

		<p:commandLink action="#{loginBean.editPrev}" styleClass="buttonImg" rendered="#{loginBean.editDisabled}">
			<p:graphicImage name="images/prev.png" width="30"/>
		</p:commandLink>
		<h:outputText value="" id="placeHolder" rendered="#{loginBean.editDisabled eq 'false'}"/>
		<p:commandLink action="#{loginBean.editNext}" styleClass="buttonImg" rendered="#{loginBean.editDisabled eq 'false'}">
			<p:graphicImage name="images/next.png" width="30"/>
		</p:commandLink>
		<p:commandLink action="#{loginBean.saveUser}" styleClass="buttonImg" rendered="#{loginBean.editDisabled}">
			<p:graphicImage name="images/save.png" width="30"/>
		</p:commandLink>

	</h:panelGrid>

</h:form>
</body>
</html>