<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

<p:dialog header="#{cz.users-add}" widgetVar="addUserDialog" modal="true" resizable="false">
    <h:form>
        <h:panelGrid columns="2" cellpadding="20" style="margin:20px">
            <h:outputLabel value="#{cz.userName} :"/>
            <p:inputText value="#{userBean.user.userName}">
                <f:validateLength minimum="2" maximum="32"/>
            </p:inputText>
            <h:outputLabel value="#{cz.firstName} :"/>
            <p:inputText value="#{userBean.user.firstName}">
                <f:validateLength minimum="2" maximum="32"/>
            </p:inputText>
            <h:outputLabel value="#{cz.surName} :" style="font-weight:bold"/>
            <p:inputText value="#{loginBean.user.lastName} :">
                <f:validateLength minimum="2" maximum="32"/>
            </p:inputText>
            <h:outputLabel value="#{cz.mail} :" style="font-weight:bold"/>
            <p:inputText value="#{userBean.user.email} :">
                <p:inputText>
                    <pe:keyFilter regEx="/[a-z0-9_\.\-@]/i"/>
                    <f:validateLength minimum="6" maximum="32"/>
                </p:inputText>
            </p:inputText>
            <h:outputLabel value="#{cz.phone} :" style="font-weight:bold"/>
            <p:inputText value="#{userBean.user.telephone} :">
                <p:inputText>
                    <pe:keyFilter regEx="/+?[0-9]{3}[0-9]{9}]/i"/>
                </p:inputText>
            </p:inputText>
            <h:outputLabel value="#{cz.degreesBefore} :" style="font-weight:bold"/>
            <p:inputText value="#{userBean.user.degreesBefore} :">
                <p:inputText>
                    <pe:keyFilter regEx="/+?[0-9]{3}[0-9]{9}]/i"/>
                </p:inputText>
            </p:inputText>

            <h:outputLabel value="#{cz.degreesAfter} :" style="font-weight:bold"/>
            <p:inputText value="#{userBean.user.degreesAfter}"/>

            <h:outputLabel value="#{cz.changePassword} :"/>
            <h:outputLabel/>
            <h:outputLabel value="#{cz.newPassword} :"/>
            <p:password value="#{userBean.passwd1}" feedback="true">
                <f:validateLength minimum="6" maximum="32"/>
            </p:password>
            <h:outputLabel value="#{cz.repeatPassword} :"/>
            <p:password value="#{userBean.passwd2}">
                <f:validateLength minimum="6" maximum="32"/>
            </p:password>

            <h:commandButton value="#{cz.save}" action="#{userBean.saveUser}"/>
        </h:panelGrid>
    </h:form>
</p:dialog>

</html>