<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

<p:dialog header="Uloženo" widgetVar="editUserDialog" modal="true" resizable="false">
    <h:form>
    <h:panelGrid columns="2">
        <h:panelGrid columns="2" cellpadding="20" style="margin:20px">
            <h:outputLabel value="#{cz.user.userName} :" style="font-weight:bold" />
            <p:inputText value="#{userBean.user.userName}" >
                <f:validateLength minimum="2" maximum="32" />
            </p:inputText>
            <h:outputLabel value="#{cz.user.name} :" style="font-weight:bold" />
            <p:inputText value="#{userBean.user.firstName}" >
                <f:validateLength minimum="2" maximum="32" />
            </p:inputText>
            <h:outputLabel value="#{cz.user.lastName} :" style="font-weight:bold" />
            <p:inputText value="#{loginBean.user.lastName} :" >
                <f:validateLength minimum="2" maximum="32" />
            </p:inputText>
            <h:outputLabel value="#{cz.user.mail} :" style="font-weight:bold" />
            <p:inputText value="#{loginBean.user.email} :" >
                <p:inputText>
                    <pe:keyFilter regEx="/[a-z0-9_\.\-@]/i" />
                    <f:validateLength minimum="6" maximum="32" />
                </p:inputText>
            </p:inputText>
            <h:outputLabel value="#{cz.user.phone} :" style="font-weight:bold" />
            <p:inputText value="#{loginBean.user.telephone} :" >
                <p:inputText>
                    <pe:keyFilter regEx="/+?[0-9]{3}[0-9]{9}]/i" />
                </p:inputText>
            </p:inputText>
            <h:outputLabel value="#{cz.user.degreesBefore} :" style="font-weight:bold" />
            <p:inputText value="#{loginBean.user.degreesBefore} :" >
                <p:inputText>
                    <pe:keyFilter regEx="/+?[0-9]{3}[0-9]{9}]/i" />
                </p:inputText>
            </p:inputText>

            <h:outputLabel value="#{cz.user.degreesAfter} :" style="font-weight:bold" />
            <p:inputText value="#{loginBean.user.degreesAfter}"/>

            <h:commandButton value="#{cz.edit}" action="#{loginBean.editUser}" style="font-weight:bold"/>
        </h:panelGrid>

        <h:panelGrid columns="2" cellpadding="20" style="margin:20px">
            <h:outputLabel value="#{cz.user.changePassword} :" style="font-weight:bold" />
            <h:outputLabel/>
            <h:outputLabel value="#{cz.user.newPassword} :" style="font-weight:bold" />
            <p:password    value="#{loginBean.password1}" feedback="true">
                <f:validateLength minimum="6" maximum="32" />
            </p:password>
            <h:outputLabel value="#{cz.user.repeatPassword} :" style="font-weight:bold" />
            <p:password    value="#{loginBean.password2}" >
                <f:validateLength minimum="6" maximum="32" />
            </p:password>
            <h:outputLabel value="#{cz.user.oldPassword} :" style="font-weight:bold" />
            <p:password    value="#{loginBean.password}" />
            <h:commandButton value="#{cz.edit}" action="#{loginBean.editPasswd}" style="font-weight:bold"/>
        </h:panelGrid>
    </h:panelGrid>
    </h:form>
</p:dialog>

</html>