<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	>
		<p:dialog header="Uloženo" widgetVar="saveSuccesDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="400">
	        <p:outputPanel id="kitsUpdateSuccesDialog" style="text-align:center;">
	                <h:outputText value="Data byla uložena do databáze." style="display:block"/>
	                <p:commandButton value="OK" action="#{gBean.redirect('kits/kit')}"/>
	        </p:outputPanel>
    	</p:dialog>
</html> 