<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:outputStylesheet name="css/table.css"/>	
<f:event listener="#{orderBean.init}" type="preRenderView" />
<h:head>
	<title><h:outputText value="#{cz.addAccepted}" /></title>
</h:head>
	<h:body>
		<ui:include src="/pages/menu/menu.xhtml" />
		<h:form id="orderAccept" rendered="#{loginBean.securityCheck('3') eq true}">
	    
	    <p:dataTable
			id="table"
			var="item"
			value="#{orderBean.viewKits.edited}"
			emptyMessage="#{cz.emptyMessage}"
			editable="#{orderBean.editable}"
			editMode="cell">

			<f:facet name="header">
				<p:outputLabel value="#{cz.addAccepted}" style="font-size:x-large"/>

				<p:commandLink styleClass="exitButton" action="#{orderBean.cancel}">
					<p:graphicImage name="images/cancel.png" width="20"/>
					<p:confirm header="Potvrďte" message="Opravdu chcete zrušit úpravy?" icon="ui-icon-alert" />
				</p:commandLink>
				<ui:include src="/resources/dialogs/cancel.xhtml" />
			</f:facet>

			<p:column id="type" headerText="#{cz.type}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.type}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.type}">
							<f:validateLength minimum="#{val.kitTypeMin}" maximum="#{val.kitTypeMax}" />
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>


			<p:column id="batch" headerText="#{cz.batch}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.batch}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.batch}" required="true">
							<f:validateLength minimum="#{val.kitBatchMin}" maximum="#{val.kitBatchMax}" />
						</p:inputText>
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column id="intId" headerText="#{cz.intId}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.internalId}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.internalId}">
							<f:validateLength maximum="#{val.kitIntidMax}" />
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column id="expiration" headerText="#{cz.expiration}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">	
						<h:outputText value="#{item.expiration}" />
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.expiration}" mask="#{cz.dateMask}" required="true"/>
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column id="arriveToLab" headerText="#{cz.arriveToLab}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.arriveToLab}" />
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.arriveToLab}" mask="#{cz.dateMask}" required="true"/>
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column  id="validation" headerText="#{cz.validation}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.validation}" />
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.validation}" mask="#{cz.dateMask}"/>
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column id="manual" headerText="#{cz.manual}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.manual}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.manual}">
							<f:validateLength maximum="#{val.kitManualMax}" />
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column id="note" headerText="#{cz.note}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.note}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.note}">
							<f:validateLength maximum="#{val.kitNoteMax}" />
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>

			<f:facet name="footer">
				<p:commandLink action="#{orderBean.acceptPrev}" styleClass="buttonImg" rendered="#{orderBean.editable eq 'false'}">
					<p:graphicImage name="images/prev.png" width="30"/>
				</p:commandLink>
				<p:commandLink action="#{orderBean.acceptNext}" styleClass="buttonImg" rendered="#{orderBean.editable eq 'true'}">
					<p:graphicImage name="images/next.png" width="30"/>
				</p:commandLink>
				<p:commandLink action="#{orderBean.acceptIt}" styleClass="buttonImg" rendered="#{orderBean.editable eq 'false'}">
					<p:graphicImage name="images/save.png" width="30"/>
				</p:commandLink>
			</f:facet>

		</p:dataTable>  
		
	</h:form>
	<h:form id="securityAlert" rendered="#{loginBean.securityCheck('3') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
	</h:body>
</html> 
