<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:outputStylesheet name="css/table.css"/>	
<f:event listener="#{orderCreateBean.init}" type="preRenderView" />	
<h:head>
	<title><h:outputLabel value="#{cz.newOrder}" /></title>
</h:head>
	<h:body>
		<ui:include src="/pages/menu/menu.xhtml" />
		<ui:include src="/pages/menu/order-menu.xhtml" />
		<h:form rendered="#{loginBean.securityCheck('3') eq true}">
		<h:panelGrid  columns="4">
	    	<h:outputLabel value="Označení: " />
	    	<p:inputText value="#{orderCreateBean.newLabel}">
				<f:validateLength maximum="40" minimum="3" /> 
			</p:inputText>	
	    	<h:outputLabel value="Datum: " />
	    	<p:inputMask value="#{orderCreateBean.newDate}" mask="#{cz.dateMask}"/> 
	    </h:panelGrid>
	    
	    <p:dataTable 	
			var="item"
			value="#{orderCreateBean.viewItems.all}"
			emptyMessage="#{cz.emptyMessage}"
			editable="true"
			editMode="cell"> 
			
			<p:column headerText="#{cz.type}">
			<p:cellEditor>
				<f:facet name="output">
					<h:outputText value="#{item.type}" />
				</f:facet>
				<f:facet name="input">
					<p:inputText value="#item.type}" />
				</f:facet>
			</p:cellEditor>
		</p:column>

			<p:column headerText="#{cz.catalogValue}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.contain}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.contain}" />
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.note}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.note}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.note}" />
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.code}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.code}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.code}" />
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.count}">
				<p:cellEditor>
					<f:facet name="output">						
						<h:outputText value="#{item.count}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.count}" maxlength="2" mask="9?9999"/>
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.cost}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.cost}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.cost}" />
					</f:facet>
				</p:cellEditor>
			</p:column>
			
		</p:dataTable>  
				 
		<p:dataTable 	
			var="item"
			value="#{orderCreateBean.viewCatalog.all}"
			selection="#{orderCreateBean.viewCatalog.selected}"
			rowKey="#{item.id}"
			emptyMessage="#{cz.emptyMessage}"
			paginator="true"
			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,20"
			rows="10"
			paginatorPosition="bottom"> 
			
			<f:facet name="header">
		   	 	<h:outputText value="#{cz.catalog}" /> 
			</f:facet>
			
			<p:column selectionMode="multiple" toggleable="false" style="width:32px" />
			
			<p:column headerText="#{cz.type}">
				<h:outputText value="#{item.type}" />
			</p:column>
			
			<p:column headerText="#{cz.contain}"> 
				<h:outputText value="#{item.contain}" />
			</p:column>
			
			<p:column headerText="#{cz.note}">
				<h:outputText value="#{item.note}" />
			</p:column>
			
			<p:column headerText="#{cz.code}">
				<h:outputText value="#{item.code}" />
			</p:column>
			
			<p:column headerText="#{cz.cost}">
				<h:outputText value="#{item.cost}" />
			</p:column>
			
			<f:facet name="footer">
		   	 	<p:commandButton value="#{cz.add}" action="#{orderCreateBean.addItems}"/>
		   	 	<p:commandButton value="#{cz.done}" action="#{orderCreateBean.saveOrder}"/>
			</f:facet>
			
		</p:dataTable>  
		
	</h:form>
	<h:form id="securityAlert" rendered="#{loginBean.securityCheck('3') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
	</h:body>
</html> 
