<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:outputStylesheet name="css/table.css"/>
<h:head>
	<title><h:outputText value="#{cz.export}" /> | <h:outputText value="#{cz.orders}" /></title>
</h:head>
<h:body>
	<ui:include src="/pages/menu/menu.xhtml" />
	
	<h:form rendered="#{loginBean.securityCheck('3') eq true}">
		<p:dataTable 	id="export"
						var="item"
						value="#{orderBean.viewItems.edited}"
						rowKey="item.id"
						styleClass="table">
						
			<f:facet name="header">
           		<h:outputText value="#{cz.export}" />
       		</f:facet>
       		
			<p:column headerText="#{cz.type}" toggleable="false">
				<h:outputText value="#{item.type}" />
			</p:column>
			
			<p:column headerText="#{cz.contain}">
				<h:outputText value="#{item.contain}" />
			</p:column>
			
			<p:column headerText="#{cz.note}">
				<h:outputText value="#{item.note}"/>
			</p:column>		
			
			<p:column headerText="#{cz.code}">
				<h:outputText value="#{item.code}"/>
			</p:column>
			
			<p:column headerText="#{cz.count}">
				<h:outputText value="#{item.count}"/>
			</p:column>
			
			<p:column headerText="#{cz.cost}">
				<h:outputText value="#{item.cost}" />
			</p:column>
		
			<f:facet name="footer">
				<p:commandButton id="toggler" type="button" value="#{cz.showColumns}" icon="ui-icon-calculator" style="float: left"/>
		        <p:columnToggler datasource="export" trigger="toggler" /> 
				<h:commandLink>
                	<p:graphicImage name="images/xls.png" width="45"/>
                	<p:dataExporter type="xls" target="export" fileName="order" />
            	</h:commandLink>
 
	            <h:commandLink>
	                <p:graphicImage name="images/pdf.png" width="45"/>
	                <p:dataExporter type="pdf" target="export" fileName="order"/>
	            </h:commandLink>

			</f:facet>

		</p:dataTable>

	</h:form>
	<h:form id="securityAlert" rendered="#{loginBean.securityCheck('3') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
</h:body>
</html>