<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
<f:event listener="#{orderBean.init}" type="preRenderView" />
	
<h:head>
	<title>Objednávky - Katalog</title>
</h:head>
	<h:body>
		<ui:include src="/pages/menu/menu.xhtml" />
		<ui:include src="/pages/menu/order-menu.xhtml" />
		<h:form id="orders" rendered="#{loginBean.securityCheck('1') eq true}">
		<p:dataTable 	
			var="item"
			value="#{orderBean.view.all}"
			selection="#{orderBean.view.select}"
			rowKey="#{item.id}"
			emptyMessage="#{cz.emptyMessage}"
			filteredValue="#{orderBean.view.filtered}"
			paginator="true"
			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			paginatorAlwaysVisible="false"
			rowsPerPageTemplate="5,10,20"
			rows="10"
			resizableColumns="true"> 
			
			<f:facet name="header">
				<p:outputLabel value="#{cz.orders}" style="font-size:large"/> 
				<p:menuButton value="#{cz.adjustments}" icon="ui-icon-pencil" style="float: right">
        			<p:menuitem value="#{cz.edit}" action="#{orderBean.edit}" icon="ui-icon-pencil" />
        			<p:separator />
        			<p:menuitem value="#{cz.accepted}" action="#{orderBean.accept}" icon="ui-icon-close" />
        			<p:separator /> 
        			<p:menuitem value="#{cz.delete}" action="#{orderBean.delete}" icon="ui-icon-folder-open" /> 
        			<p:separator /> 
        			<p:menuitem value="#{cz.export}" action="#{orderBean.export}" icon="ui-icon-folder-open" />
    			</p:menuButton>
            </f:facet>
			
			<p:column selectionMode="single" style="width:32px"/>
			
			<p:column 
				filterBy="#{item.label}"
				headerText="#{cz.label}"
				filterMatchMode="contains">
				<h:outputText value="#{item.label}" />
			</p:column>
			
			<p:column 
				filterBy="#{item.date}"
				headerText="#{cz.date}"  
				filterMatchMode="contains">
				<h:outputText value="#{item.date}" />
			</p:column>
			
			<p:column 
				filterBy="#{item.count}"
				headerText="#{cz.countOfKits}" 
				filterMatchMode="contains">
				<h:outputText value="#{item.count}"/>
			</p:column>
			
			<p:column 
				filterBy="#{item.sumCost}"
				headerText="#{cz.sumCost}" 
				filterMatchMode="contains">
				<h:outputText value="#{item.sumCost}"/>
			</p:column>	
			
			<p:dialog id="deleteConfirm" widgetVar="deleteConfirm">
				<p:commandButton value="Ano" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" action="#{orderBean.deleteIt}"/>
				<p:commandButton value="Ne" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    		</p:dialog>
    		
    		<p:dialog header="Modal Dialog" id="dlg2" widgetVar="dlg2" modal="true" height="100">
    			<h:outputText value="This is a Modal Dialog." />
			</p:dialog>   
    				
		</p:dataTable>  
		</h:form>
		<h:form id="securityAlert" rendered="#{loginBean.securityCheck('1') eq false}">
			<ui:include src="/pages/expired.xhtml" />
		</h:form>
		
		
	</h:body>
</html> 
