<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	>
	
	<h:outputStylesheet name="css/added.css"/>	
	<h:outputStylesheet name="css/bootstrap.css"/>

    <h:form rendered="#{loginBean.securityCheck('1') eq true}" >
	<nav class="navbar navbar-default navbar-static-top">
  		<div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header pull-left">
      			<h:graphicImage value="/pages/menu/content/logo.jpg"/>
    		</div>
    		<div class="navbar-header pull-right">
				<div class="user-info">  
		      		<div class="info">
		      		<p><h:outputText value="#{cz.user}"/><h:outputText value="#{loginBean.getAllName()}"/></p>
						<div class="btn-group">
						  <h:commandLink type="button" class="btn btn-default btn-xs" value="Nastavení účtu" action="#{loginBean.settings}"/>
						  <h:commandLink type="button" class="btn btn-default btn-xs" value="Odhlášení" action="#{loginBean.logout}"/>
						</div>
					</div>
		      	</div>
		    </div>

    		<ul class="nav navbar-nav navbar-right">
    		  <li><h:commandLink value="#{cz.reagents}" 	action="/pages/reagents/reagent.xhtml?faces-redirect=true" /></li>
    		  <li><h:commandLink value="#{cz.kits}"			action="/pages/kits/kit.xhtml?faces-redirect=true" /></li>
	    	  <li><h:commandLink value="#{cz.statistics}"	action="/pages/statistics/statistics.xhtml?faces-redirect=true" /></li>
	    	  <li><h:commandLink value="#{cz.orders}"		action="/pages/orders/orders.xhtml?faces-redirect=true" /></li>
	    	  <li><h:commandLink value="#{cz.warnings}"		action="/pages/warnings/warnings.xhtml?faces-redirect=true" /></li>
			  <li><h:commandLink value="#{cz.settings}" 	action="/pages/settings/settings.xhtml?faces-redirect=true" rendered="#{loginBean.securityCheck('5') eq true}"/></li>
	    	  <li><h:commandLink value="#{cz.users}" 		action="/pages/users.xhtml?faces-redirect=true" rendered="#{loginBean.securityCheck('5') eq true}"/></li>
			</ul>
    	</div><!-- /.container-fluid -->
	</nav>
	<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
</h:form>

</html>