<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	>
	<h:form rendered="#{loginBean.securityCheck('3') eq true}">
		<p:megaMenu style="margin-top:20px"> 
		    <p:menuitem value="#{cz.settings}" url="settings.html" />
	    	<p:menuitem value="#{cz.importData}" url="import.html" />
	    	<p:menuitem value="#{cz.exportData}" url="export.html" />
		</p:megaMenu>
	</h:form>
</html> 