<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets">
<h:outputStylesheet name="css/table.css"/>

<h:head>
	<title><h:outputText value="#{cz.add}" /> | <h:outputText value="#{cz.reagents}" /></title>
</h:head>
<h:body>
	<ui:include src="/pages/menu/menu.xhtml" />

	<h:form id="reagents" rendered="#{loginBean.securityCheck('3') eq true}">

		<p:dataTable 	id="add"
						var="item"
						value="#{reagentBean.add}"
						editMode="cell"
						editable="true"
						styleClass="table">

			<f:facet name="header">
				<h:outputText value="#{cz.addReagents}" />
			</f:facet>

			<p:column headerText="#{cz.type}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.type}" />
					</f:facet>
					<f:facet name="input">
						<p:selectOneMenu  value="#{item.type}">
							<f:selectItems value="#{reagentBean.reagentTypes}" />
						</p:selectOneMenu>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column headerText="#{cz.batch}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.batch}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.batch}" >
							<f:validateLength minimum="#{val.reagentBatchMin}" maximum="#{val.reagentBatchMax}" />
						</p:inputText>
					</f:facet>
				</p:cellEditor>
			</p:column>


			<p:column headerText="#{cz.count}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.count}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.count}"  >
							<f:validateDoubleRange minimum="0" maximum="10" />
						</p:inputText>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column headerText="#{cz.expiration}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.expiration}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.expiration}" mask="#{cz.dateMask}"/>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column headerText="#{cz.arriveToLab}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.arriveToLab}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.arriveToLab}" mask="#{cz.dateMask}"/>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column headerText="#{cz.validation}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.validation}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.validation}" mask="#{cz.dateMask}"/>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column headerText="#{cz.note}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.note}"/>
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.note}" >
							<f:validateLength maximum="64" />
						</p:inputText>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<f:facet name="footer">
				<ui:include src="/resources/dialogs/cancelReagent.xhtml" />
				<p:commandButton value="#{cz.addRow}" action="#{reagentBean.addRow}"/>
				<p:commandButton value="#{cz.next}" action="#{reagentBean.addSpecific}"/>
			</f:facet>
		</p:dataTable>
	</h:form>
	<h:form id="securityAlert" rendered="#{loginBean.securityCheck('3') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
</h:body>
</html>