<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:outputStylesheet name="css/table.css"/>
<h:head>
	<title><h:outputText value="#{cz.add}" /> | <h:outputText value="#{cz.reagents}" /></title>
</h:head>
<h:body>
	<ui:include src="/pages/menu/menu.xhtml" />
	
	<h:form id="reagents" rendered="#{loginBean.securityCheck('3') eq true}">
		<p:dataTable 	id="addSpecific"
						var="item"
						value="#{reagentBean.view.edited}"
						editMode="cell"
						rowKey="item.id"
						editable="#{reagentBean.editable}"
						styleClass="table">
						
			<f:facet name="header">
           		<h:outputText value="#{cz.addReagentsSpecific}" />
       		</f:facet>

			<p:column headerText="#{cz.batch}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.batch}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.batch}" >
							<f:validateLength minimum="#{val.reagentBatchMin}" maximum="#{val.reagentBatchMax}" />
						</p:inputText>
					</f:facet>
				</p:cellEditor>
			</p:column>
       		
			<p:column headerText="#{cz.type}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.type}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.type}"  >
							<f:validateLength minimum="3" maximum="40" /> 
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.intId}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.internalId}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.internalId}" >
							<f:validateLength maximum="40" /> 
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.batch}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.batch}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.batch}" >
							<f:validateLength minimum="3" maximum="40" /> 
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.expiration}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">	
						<h:outputText value="#{item.expiration}" />
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.expiration}" mask="#{cz.dateMask}"/>
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.arriveToLab}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.arriveToLab}" />
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.arriveToLab}" mask="#{cz.dateMask}" />
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.validation}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.validation}" />
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.validation}" mask="#{cz.dateMask}"/>
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.revalidation}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.revalidation}" />
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.revalidation}" mask="#{cz.dateMask}" />				
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.newExpiration}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.newExpiration}" />
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.newExpiration}" mask="#{cz.dateMask}" />				
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.manual}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.manual}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.manual}" >
							<f:validateLength maximum="40" /> 
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.note}" visible="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.note}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.note}" >
							<f:validateLength maximum="40" /> 
						</p:inputText>	
					</f:facet>
				</p:cellEditor>
			</p:column>			
		
			<f:facet name="footer">
				<p:commandButton id="toggler" type="button" value="#{cz.showColumns}" icon="ui-icon-calculator" style="float: left"/>
		        <p:columnToggler datasource="addSpecific" trigger="toggler" /> 
				<ui:include src="/resources/dialogs/cancel.xhtml" />
				<p:commandButton value="#{cz.prev}" action="#{reagentBean.addPrev}" />
				<p:commandButton value="#{cz.done}" action="#{reagentBean.save}" rendered="#{kitBean.editable eq 'false'}"/>
				<p:commandButton value="#{cz.next}" action="#{reagentBean.addNext}" rendered="#{kitBean.editable eq 'true'}"/>
			</f:facet>

		</p:dataTable>

	</h:form>
	<h:form id="securityAlert" rendered="#{loginBean.securityCheck('3') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
</h:body>
</html>