<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:outputStylesheet name="css/table.css"/>
<h:head>
	<title><h:outputText value="#{cz.opening}" /> | <h:outputText value="#{cz.reagents}" /></title>
</h:head> 
<h:body>
	<ui:include src="/pages/menu/menu.xhtml" />
	
	<h:form rendered="#{loginBean.securityCheck('3') eq true}">
		<p:dataTable 	id="open"
						var="item"
						value="#{reagentBean.view.edited}"
						editMode="cell"
						rowKey="item.id"
						editable="#{reagentBean.editable}"
						styleClass="table">
						
			<f:facet name="header">
           		<h:outputText value="#{cz.opening}" />
       		</f:facet>

            <p:column headerText="#{cz.batch}" toggleable="false" editable="false">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{item.batch}" />
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{item.batch}" />
                    </f:facet>
                </p:cellEditor>
            </p:column>
       		
			<p:column headerText="#{cz.type}" toggleable="false" editable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.type}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.type}" />
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.intId}" visible="false" editable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.internalId}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.internalId}"/>
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.opened}" toggleable="false">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.opened}" />
					</f:facet>
					<f:facet name="input">
						<p:inputMask value="#{item.opened}" mask="#{cz.dateMask}" />	
					</f:facet>
				</p:cellEditor>
			</p:column>
			
			<p:column headerText="#{cz.note}" >
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText value="#{item.note}" />
					</f:facet>
					<f:facet name="input">
						<p:inputText value="#{item.note}" />
					</f:facet>
				</p:cellEditor>
			</p:column>			
		
			<f:facet name="footer">
				<p:commandButton id="toggler" type="button" value="#{cz.showColumns}" icon="ui-icon-calculator" style="float: left"/>
		        <p:columnToggler datasource="open" trigger="toggler" /> 
				<ui:include src="/resources/dialogs/cancel.xhtml" />
				<p:commandButton value="#{cz.prev}" action="#{reagentBean.openPrev}" rendered="#{reagentBean.editable eq 'false'}"/>
				<p:commandButton value="#{cz.done}" action="#{reagentBean.update}" rendered="#{reagentBean.editable eq 'false'}"/>
				<p:commandButton value="#{cz.next}" action="#{reagentBean.openNext}" rendered="#{reagentBean.editable eq 'true'}"/>
			</f:facet>  

		</p:dataTable>

	</h:form>
	<h:form id="securityAlert" rendered="#{loginBean.securityCheck('3') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
</h:body>
</html>