<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:outputStylesheet name="css/table.css"/>	
<f:event listener="#{reagentBean.init}" type="preRenderView" />

<h:head> 
	<title><h:outputText value="#{cz.reagents}" /></title>
</h:head>
<h:body>
	<ui:include src="/pages/menu/menu.xhtml" />
	
	<h:form id="reagent" rendered="#{loginBean.securityCheck('1') eq true}">
		<p:dataTable 	
			var="item"
			id="table"
			value="#{reagentBean.view.all}"
			selection="#{reagentBean.view.selected}"
			rowKey="#{item.id}"
			emptyMessage="#{cz.emptyMessage}"
			filteredValue="#{reagentBean.view.filtered}"
			paginator="true"
			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} 	{Exporters}"
			paginatorAlwaysVisible="false"
			rowsPerPageTemplate="5,10,15,20,25,30"
			paginatorPosition="bottom"
			rows="10"
			resizableColumns="true"
			styleClass="table">

			<f:facet name="header" rendered="#{loginBean.securityCheck('3') eq true}">
				<h:outputText value="#{cz.reagents}" styleClass="headerLabel" />
				<p:commandButton value="#{cz.showAll}" action="#{reagentBean.showAll}" style="float: left"/>
				<p:menuButton value="#{cz.adjustments}" icon="ui-icon-pencil" style="float: right">
					<p:menuitem value="#{cz.edit}" action="#{reagentBean.edit}" icon="ui-icon-pencil" />
					<p:separator />
					<p:menuitem value="#{cz.add}" action="#{reagentBean.add}" icon="ui-icon-plus" />
					<p:separator />
					<p:menuitem value="#{cz.open}" action="#{reagentBean.open}" icon="ui-icon-folder-open" />
					<p:separator />
					<p:menuitem value="#{cz.consume}" action="#{reagentBean.consume}" icon="ui-icon-close" />
				</p:menuButton>
			</f:facet>

			<f:facet name="{Exporters}">
				<p:commandButton id="toggler" type="button" value="#{cz.showColumns}" icon="ui-icon-calculator" style="float: right"/>
				<p:columnToggler datasource="table" trigger="toggler" />
			</f:facet>
			
			<p:column selectionMode="multiple" toggleable="false" style="width:32px" />
			
			<p:column 	filterBy="#{item.batch}" 
						headerText="#{cz.batch}"  
						filterMatchMode="contains"
						toggleable="false">
				<h:outputText value="#{item.batch}" />
			</p:column>
			
			<p:column 	filterBy="#{item.type}"
						headerText="#{cz.type}"
						filterMatchMode="contains"
						toggleable="false">
				<h:outputText value="#{item.type}" />
			</p:column>
			
			<p:column 	filterBy="#{item.internalId}"
						headerText="#{cz.intId}" 
						filterMatchMode="contains"
						visible="false">
				<h:outputText value="#{item.internalId}" />
			</p:column>
			
			<p:column 	filterBy="#{item.expiration}" 
						headerText="#{cz.expiration}" 
						filterMatchMode="contains" 
						toggleable="false">
				<h:outputText value="#{item.expiration}" styleClass="#{empty item.newExpiration ? '' : 'colored'}" />
			</p:column>
			
			<p:column 	filterBy="#{item.arriveToLab}" 
						headerText="#{cz.arriveToLab}" 
						filterMatchMode="contains">
				<h:outputText value="#{item.arriveToLab}"/>
			</p:column>
			
			<p:column 	filterBy="#{item.validation}" 
						headerText="#{cz.validation}" 
						filterMatchMode="contains"
						toggleable="false">
				<h:outputText value="#{item.validation}" styleClass="#{empty item.revalidation ? '' : 'colored'}" />
			</p:column>
			
			<p:column 	filterBy="#{item.opened}" 
						headerText="#{cz.opened}" 
						filterMatchMode="contains">
				<h:outputText value="#{item.opened}"/>
			</p:column>
			
			<p:column 	filterBy="#{item.revalidation}"
						headerText="#{cz.revalidation}" 
						filterMatchMode="contains"
						visible="false">
				<h:outputText value="#{item.revalidation}"/>
			</p:column>
			
			<p:column 	filterBy="#{item.newExpiration}" 
						headerText="#{cz.newExpiration}" 
						filterMatchMode="contains"
						visible="false">
				<h:outputText value="#{item.newExpiration}"/>
			</p:column>
			
			<p:column 	filterBy="#{item.consumed}"
						headerText="#{cz.consumed}"  
						filterMatchMode="contains"
						rendered="#{reagentBean.showConsumed}">
				<h:outputText value="#{item.consumed}" />
			</p:column>
			
		</p:dataTable>  
		
	</h:form>
	<h:form id="securityAlert" rendered="#{loginBean.securityCheck('1') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
</h:body>
</html>