<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:outputStylesheet name="css/table.css"/>		
<h:head>
	<title><h:outputText value="#{cz.importData}" /></title>
</h:head>
	<h:body>
		<ui:include src="/pages/menu/menu.xhtml" />
		<ui:include src="/pages/menu/settings-menu.xhtml" />
		<h:form rendered="#{loginBean.securityCheck('3') eq true}">

			<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
				<p:graphicImage name="images/save.png" />
			</p:dialog>

			<h:form>
				<p:commandButton value="Download" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
					<p:fileDownload value="#{exportImportBean.file}" />
				</p:commandButton>
			</h:form>

			<script type="text/javascript">
				function start() {
					PF('statusDialog').show();
				}

				function stop() {
					PF('statusDialog').hide();
				}
			</script>
		</h:form>





	<h:form id="securityAlert" rendered="#{loginBean.securityCheck('3') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
	</h:body>
</html> 
