<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:outputStylesheet name="css/table.css"/>		
<h:head>
	<title><h:outputText value="#{cz.importData}" /></title>
</h:head>
	<h:body>
		<ui:include src="/pages/menu/menu.xhtml" />
		<ui:include src="/pages/menu/settings-menu.xhtml" />
		<h:form enctype="multipart/form-data" rendered="#{loginBean.securityCheck('3') eq true}">
			<p:commandButton type="button" value="#{cz.importData}" action="#{importBean.upload}"/>
		</h:form>





	<h:form id="securityAlert" rendered="#{loginBean.securityCheck('3') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
	</h:body>
</html> 
