<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:outputStylesheet name="css/table.css"/>		
<h:head>
	<title><h:outputText value="#{cz.importData}" /></title>
</h:head>
	<h:body>
		<ui:include src="/pages/menu/menu.xhtml" />
		<ui:include src="/pages/menu/settings-menu.xhtml" />
		<h:form id="settings" rendered="#{loginBean.securityCheck('5') eq true}">
			<p:dataList value="#{settingsBean.producers}" var="producer">
				<f:facet name="header"><h:outputText value="#{cz.producers}"/></f:facet>
				#{producer.id}, #{producer.name}
			</p:dataList>
			<p:inputText id="producer" value="#{settingsBean.producer}">
				<f:validateLength minimum="#{val.settingsProducerMin}" maximum="#{val.settingsProducerMax}" />
			</p:inputText>
			<p:commandButton value="#{cz.save}" action="#{settingsBean.addProducer}"/>
			<p:commandButton value="#{cz.delete}" action="#{settingsBean.deleteProducer}"/>

			<p:dataList value="#{settingsBean.discardOptions}" var="discardOption">
				<f:facet name="header"><h:outputText value="#{cz.discardReasons}"/></f:facet>
				#{discardOption.id}, #{discardOption.text}
			</p:dataList>
			<p:inputText id="discardOption" value="#{settingsBean.discardOption}">
				<f:validateLength minimum="#{val.settingsDiscardOptionMin}" maximum="#{val.settingsDiscardOptionMax}" />
			</p:inputText>
			<p:commandButton value="#{cz.save}" action="#{settingsBean.addDiscardOption}"/>
			<p:commandButton value="#{cz.delete}" action="#{settingsBean.deleteDiscardOption}"/>

			<p:dataList value="#{settingsBean.reagentTypes}" var="reagentType">
				<f:facet name="header"><h:outputText value="#{cz.reagentTypes}"/></f:facet>
				#{reagentType.id}, #{reagentType.name}
			</p:dataList>
			<p:inputText id="reagentType" value="#{settingsBean.reagentType}">
				<f:validateLength minimum="#{val.settingsReagentTypeMin}" maximum="#{val.settingsReagentTypeMax}" />
			</p:inputText>
		<p:commandButton value="#{cz.save}" action="#{settingsBean.addReagentType}"/>
			<p:commandButton value="#{cz.delete}" action="#{settingsBean.deleteReagentType}"/>
		</h:form>
	<h:form id="securityAlert" rendered="#{loginBean.securityCheck('5') eq false}">
		<ui:include src="/pages/expired.xhtml" />
	</h:form>
	</h:body>
</html> 
