<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:p="http://primefaces.org/ui"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	>
<f:event listener="#{statBean.init}" type="preRenderView" />
	
<h:head>
	<title><h:outputText value="#{cz.statistics}" /></title>
</h:head>
<h:body>
<ui:include src="/pages/menu/menu.xhtml" />
<h:form id="stat">
	<h:panelGrid columns="9">
		<h:outputLabel value="#{cz.type} : " />
		<p:inputText value="#{statBean.type}" id="type" />
		<h:outputLabel value="#{cz.dateMin} : " />
		<p:inputMask value="#{statBean.dateMin}" mask="#{cz.dateMask}"/>
		<h:outputLabel value="#{cz.dateMax} : " />
		<p:inputMask value="#{statBean.dateMax}" mask="#{cz.dateMask}"/>
		<p:commandButton value="#{cz.done}" action="#{statBean.reload}"/>
	</h:panelGrid>
	<p:chart id="chart" type="bar" model="#{statBean.chartModel}" style="height:300px"/>
</h:form>
</h:body>
</html> 
