<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:outputStylesheet name="css/login.css"/>
<h:head>
    <title>Chyba</title>
    <meta http-equiv="refresh" content="10;url=#{request.contextPath}/" />
</h:head>
<h:body>
    <h:form>
        <h:panelGrid  columns="1" styleClass="login">
            <h1>Chyba připojení k databázi.</h1>
            <h3>Vyčkejte nebo kontaktujte podporu.</h3>
            <p><a href="#{request.contextPath}/">Click here if redirect didn't work or when you're impatient</a>.</p>
        </h:panelGrid>
    </h:form>
</h:body>
</html>