<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:ui="http://java.sun.com/jsf/facelets">

<h:form id="add" rendered="#{userBean.stage == 'ADD'}">
		<h:panelGrid columns="2" id="panel" style="margin: 0 auto">
			<h:outputText value="#{cz.userAdd}" style="font-size:large" />
			<p:commandLink immediate="true" styleClass="exitButton" action="#{userBean.cancel}">
				<p:graphicImage name="images/cancel.png" width="20"/>
				<p:confirm header="Potvrďte" message="Opravdu chcete zrušit úpravy?" icon="ui-icon-alert" />
			</p:commandLink>
			<ui:include src="/resources/dialogs/cancel.xhtml"/>
			<h:outputText value="" id="placeHolder2"/>
			<h:outputText value="#{cz.userName}: *" />
			<p:inputText id="userName" value="#{userBean.user.userName}" required="true" disabled="#{userBean.disabled}">
				<f:validateLength minimum="#{val.userUserNameMin}" maximum="#{val.userUserNameMax}"/>
			</p:inputText>

			<h:outputText value="#{cz.firstName}: *" />
			<p:inputText id="firstName" value="#{userBean.user.firstName}" required="true" disabled="#{userBean.disabled}">
				<f:validateLength minimum="#{val.userFirstNameMin}" maximum="#{val.userFirstNameMax}"/>
			</p:inputText>

			<h:outputText value="#{cz.surName}: *" />
			<p:inputText id="surName" value="#{userBean.user.lastName}" required="true" disabled="#{userBean.disabled}">
				<f:validateLength minimum="#{val.userSurNameMin}" maximum="#{val.userSurNameMax}"/>
			</p:inputText>

			<h:outputText value="#{cz.mail}: *" />
			<p:inputText id="email" value="#{userBean.user.email}" required="true" disabled="#{userBean.disabled}">
				<f:validateLength minimum="#{val.userMailMin}" maximum="#{val.userMailMax}"/>
				<pe:keyFilter regEx="/[a-z0-9_\.\-@]/i" />
			</p:inputText>

			<h:outputText value="#{cz.phone}: " />
			<p:inputText id="phone" value="#{userBean.user.telephone}" disabled="#{userBean.disabled}">
				<pe:keyFilter regEx="/+?[0-9]{3}[0-9]{9}]/i" />
			</p:inputText>

			<h:outputText value="#{cz.degreesBefore}: " />
			<p:inputText value="#{userBean.user.degreesBefore}" disabled="#{userBean.disabled}">
				<f:validateLength maximum="#{val.userDegreesBeforeMax}"/>
			</p:inputText>

			<h:outputText value="#{cz.degreesAfter}: " />
			<p:inputText value="#{userBean.user.degreesAfter}" disabled="#{userBean.disabled}">
				<f:validateLength maximum="#{val.userDegreesAfterMax}"/>
			</p:inputText>

			<h:outputLabel value="#{cz.password}: *" />
			<p:password id="password1" value="#{userBean.passwd}" match="password2" rendered="#{userBean.disabled eq 'false'}">
				<f:validateLength minimum="#{val.userPasswdMin}" maximum="#{val.userPasswdMax}"/>
			</p:password>
			<h:outputText value="Vyplněno" rendered="#{userBean.disabled eq 'true'}"/>

			<h:outputLabel value="#{cz.passwordRepeat}: *" />
			<p:password id="password2" value="#{userBean.passwd}" required="true" rendered="#{userBean.disabled eq 'false'}">
				<f:validateLength minimum="#{val.userPasswdMin}" maximum="#{val.userPasswdMax}"/>
			</p:password>
			<h:outputText value="Vyplněno" rendered="#{userBean.disabled eq 'true'}"/>

			<h:outputLabel value="#{cz.role}: *" />
			<h:selectOneMenu value="#{userBean.user.role}" disabled="#{userBean.disabled}">
				<f:selectItem itemValue="1" itemLabel="#{userBean.getRoleName('1')}" />
				<f:selectItem itemValue="3" itemLabel="#{userBean.getRoleName('3')}" />
				<f:selectItem itemValue="5" itemLabel="#{userBean.getRoleName('5')}" />
			</h:selectOneMenu>

			<p:commandLink action="#{userBean.addPrev}" styleClass="buttonImg" rendered="#{userBean.disabled}">
				<p:graphicImage name="images/prev.png" width="30"/>
			</p:commandLink>
			<h:outputText value="" id="placeHolder" rendered="#{userBean.disabled eq 'false'}"/>
			<p:commandLink action="#{userBean.addNext}" styleClass="buttonImg" rendered="#{userBean.disabled eq 'false'}">
				<p:graphicImage name="images/next.png" width="30"/>
			</p:commandLink>
			<p:commandLink action="#{userBean.saveUser}" styleClass="buttonImg" rendered="#{userBean.disabled}">
				<p:graphicImage name="images/save.png" width="30"/>
			</p:commandLink>

		</h:panelGrid>

</h:form>

</html>
