<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:outputStylesheet name="css/table.css"/>
		<p:dataTable
			rendered="#{userBean.stage == 'ALL'}"
			id="table"
			var="user"
			value="#{userBean.view.all}"
			selection="#{userBean.view.select}"
			rowKey="#{user.id}"
			emptyMessage="#{cz.emptyMessage}"
			filteredValue="#{userBean.view.filtered}"
			resizableColumns="true">

			<f:facet name="header">
				<p:commandButton id="toggler" type="button" value="#{cz.showColumns}" icon="ui-icon-calculator" style="float: left"/>
				<p:columnToggler datasource="table" trigger="toggler" />
				<h:outputText value="#{cz.userManagment}" style="font-size:x-large"/>
				<p:menuButton value="#{cz.adjustments}" icon="ui-icon-pencil" style="float: right">
					<p:menuitem value="#{cz.edit}" action="#{userBean.edit}" icon="ui-icon-pencil" />
					<p:separator />
					<p:menuitem value="#{cz.add}" action="#{userBean.add}" icon="ui-icon-plus" />
				</p:menuButton>
			</f:facet>

			<p:column selectionMode="single" style="width:32px;text-align:center" toggleable="false" />

			<p:column 	filterBy="#{user.userName}"
						sortBy="#{user.userName}"
						headerText="#{cz.userName}"
						toggleable="false">
				<h:outputText value="#{user.userName}" />
			</p:column>

			<p:column 	filterBy="#{user.email}"
						sortBy="#{user.email}"
						headerText="#{cz.mail}"
						toggleable="false">
				<h:outputText value="#{user.email}" />
			</p:column>

			<p:column 	 filterBy="#{user.telephone}"
						 sortBy="#{user.telephone}"
						 headerText="#{cz.phone}">
				<h:outputText value="#{user.email}" />
			</p:column>
			
			<p:column 	filterBy="#{user.degreesBefore}"
						sortBy="#{user.degreesBefore}"
						headerText="#{cz.degreesBefore}"
						visible="false">
				<h:outputText value="#{user.degreesBefore}" />
			</p:column>
			
			<p:column 	filterBy="#{user.firstName}"
						sortBy="#{user.firstName}"
						headerText="#{cz.firstName}">
				<h:outputText value="#{user.firstName}" />
					</p:column>
			
			<p:column 	filterBy="#{user.lastName}"
						sortBy="#{user.lastName}"
						headerText="#{cz.surName}">
				<h:outputText value="#{user.lastName}" />
			</p:column>
			
			<p:column 	filterBy="#{user.degreesAfter}"
						sortBy="#{user.degreesAfter}"
						headerText="#{cz.degreesAfter}"
						visible="false">
				<h:outputText value="#{user.degreesAfter}" />
			</p:column>
			
			<p:column 	filterBy="#{user.role}"
						sortBy="#{user.role}"
						headerText="#{cz.role}"
						toggleable="false">
				<h:outputText value="#{userBean.getRoleName(user.role.toString())}"/>
			</p:column>
		</p:dataTable>
</html>