<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
    <title>Přidání uživatele potvrzení</title>
</h:head>
<h:body>
	<ui:include src="/pages/menu/menu.xhtml" />
    
	<h:form rendered="#{loginBean.securityCheck('5') eq true}">
    		<h:outputLabel id="addUserTittle" value="Přidání uživatele"/>
    		<h:outputLabel id="addUserErrMSG" value="#{userBean.addErrMSG}"/>
    		<h:message id="registerMessage" for="registerPanel"/>
    		<h:panelGrid  columns="2" id="registerPanel">
    			
    			<h:outputLabel id="emailLabel" value="E-mail" />
    			<h:outputLabel id="emailValue" value="#{userBean.addUser.user_email}"/>
    			
    			<h:outputLabel id="firstNameLabel" value="Jméno" />
    			<h:outputLabel id="firstNameValue" value="#{userBean.addUser.user_first_name}"/>
    			
    			<h:outputLabel id="lastNameLabel" value="Přijmení" />
    			<h:outputLabel id="lastNameValue" value="#{userBean.addUser.user_last_name}"/>
    			
    			<h:outputLabel id="telephoneLabel" value="Telefon" />
    			<h:outputLabel id="telephoneValue" value="#{userBean.addUser.user_telephone}"/>
    			
    			<h:outputLabel id="degreesBeforeLabel" value="Tituly před jménem" />
    			<h:outputLabel id="degreesBeforeValue" value="#{userBean.addUser.user_degrees_before}"/>
    			
    			<h:outputLabel id="degreesAfterLabel" value="Tituly za jménem" />
    			<h:outputLabel id="degreesAfterValue" value="#{userBean.addUser.user_degrees_after}"/>
    			
    			<h:outputLabel id="roleLabel" value="Role" />
    			<h:outputLabel id="roleValue" value="#{userBean.addRole}"/>
    			
    			<h:commandButton id="addUserCancelButton" value="Zrušit" action="#{userBean.redirect('users')}"/>
    			<h:commandButton id="addUserBackButton" value="Zpět" action="#{userBean.redirect('user-add')}"/>
    			<h:commandButton id="addUserContinueButton" value="Uložit" action="#{userBean.addUserWrite}"/>
    		</h:panelGrid> 
    	</h:form>
   
</h:body>
</html>
