<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
    <title>Přidání uživatele potvrzení</title>
</h:head>
<h:body>
	<ui:include src="/pages/menu/menu.xhtml" />
    
	<h:form rendered="#{loginBean.securityCheck('5') eq true}">
    		<h:outputLabel id="editUserTittle" value="Přidání uživatele"/>
    		<h:outputLabel id="editUserErrMSG" value="#{userBean.editErrMSG}"/>
    		<h:message id="registerMessage" for="registerPanel"/>
    		<h:panelGrid  columns="4" id="registerPanel">
    			
    			<h:outputLabel id="emailLabel" value="E-mail" />
    			<h:outputLabel id="emailValue" value="#{userBean.editUserBackUP.user_email}"/>
    			<h:outputLabel id="emailLabelShift" value=" --> " />
    			<h:outputLabel id="emailValueOld" value="#{userBean.editUser.user_email}"/>
    			
    			<h:outputLabel id="firstNameLabel" value="Jméno" />
    			<h:outputLabel id="firstNameValue" value="#{userBean.editUserBackUP.user_first_name}"/>
    			<h:outputLabel id="firstNameLabelShift" value=" --> " />
    			<h:outputLabel id="firstNameValueOld" value="#{userBean.editUser.user_first_name}"/>
    			
    			<h:outputLabel id="lastNameLabel" value="Přijmení" />
    			<h:outputLabel id="lastNameValue" value="#{userBean.editUserBackUP.user_last_name}"/>
    			<h:outputLabel id="lastNameLabelShift" value=" --> " />
    			<h:outputLabel id="lastNameValueOld" value="#{userBean.editUser.user_last_name}"/>
    			
    			<h:outputLabel id="telephoneLabel" value="Telefon" />
    			<h:outputLabel id="telephoneValue" value="#{userBean.editUserBackUP.user_telephone}"/>
    			<h:outputLabel id="telephoneLabelLabelShift" value=" --> " />
    			<h:outputLabel id="telephoneValueOld" value="#{userBean.editUser.user_telephone}"/>
    			
    			<h:outputLabel id="degreesBeforeLabel" value="Tituly před jménem" />
    			<h:outputLabel id="degreesBeforeValue" value="#{userBean.editUserBackUP.user_degrees_before}"/>
    			<h:outputLabel id="degreesBeforeLabelShift" value=" --> " />
    			<h:outputLabel id="degreesBeforeValueOld" value="#{userBean.editUser.user_degrees_before}"/>
    			
    			<h:outputLabel id="degreesAfterLabel" value="Tituly za jménem" />
    			<h:outputLabel id="degreesAfterValue" value="#{userBean.editUserBackUP.user_degrees_after}"/>
    			<h:outputLabel id="degreesAfterLabelShift" value=" --> " />
    			<h:outputLabel id="degreesAfterValueOld" value="#{userBean.editUser.user_degrees_after}"/>
    			
    			<h:outputLabel id="roleLabel" value="Role" />
    			<h:outputLabel id="roleValue" value="#{userBean.getRoleName(userBean.editUserBackUP.getUser_role())}"/>
    			<h:outputLabel id="roleLabelShift" value=" --> " />
    			<h:outputLabel id="roleValueOld" value="#{userBean.getRoleName(userBean.editUser.getUser_role())}"/>
    			
    			<h:commandButton id="editUserCancelButton" value="Zrušit" action="#{userBean.redirect('users')}"/>
    			<h:commandButton id="editUserBackButton" value="Zpět" action="#{userBean.redirect('user-edit')}"/>
    			<h:commandButton id="editUserContinueButton" value="Uložit" action="#{userBean.editUserWrite}"/>
    		</h:panelGrid> 
    	</h:form>
   
</h:body>
</html>
